<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Restaurar contraseña</title>
</head>
<body>
    <h1>Solicitud de restablecimiento de contraseña</h1>
    <p>Hola {{ user.username }},</p>
    <p>Recibimos una solicitud para restablecer su contraseña. Si no realizó esta solicitud puede ignorar este correo.</p>
    <p>Para restablecer su contraseña, haga clic en el siguieinte enlace:</p>
    <a href="{{ reset_url }}">Restablecer contraseña</a>
    <p>Este enlace caducará en 24 horas.</p>
    <p>Si tiene problemas para hacer clic en el enlace, puede copiar y pegar la siguiente URL en su navegador:</p>
    <p>{{ reset_url }}</p>
    <p>Gracias,</p>
    <p>El equipo TaskMaster</p>
</body>
</html>